ZhiXiaoManager/src/main/webapp/wsdl/sxlServiceImplPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.ws.studentcard.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="sxlServiceImplService" targetNamespace="http://server.ws.studentcard.com/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://server.ws.studentcard.com/" version="1.0">
<xs:element name="PushDeviceCHECK" type="tns:PushDeviceCHECK"/>
<xs:element name="PushDeviceCHECKResponse" type="tns:PushDeviceCHECKResponse"/>
<xs:element name="PushDeviceCurpos" type="tns:PushDeviceCurpos"/>
<xs:element name="PushDeviceCurposResponse" type="tns:PushDeviceCurposResponse"/>
<xs:element name="PushDeviceFence" type="tns:PushDeviceFence"/>
<xs:element name="PushDeviceFenceResponse" type="tns:PushDeviceFenceResponse"/>
<xs:element name="PushDeviceLowbat" type="tns:PushDeviceLowbat"/>
<xs:element name="PushDeviceLowbatResponse" type="tns:PushDeviceLowbatResponse"/>
<xs:element name="PushDeviceSOS" type="tns:PushDeviceSOS"/>
<xs:element name="PushDeviceSOSResponse" type="tns:PushDeviceSOSResponse"/>
<xs:element name="PushDeviceStatic" type="tns:PushDeviceStatic"/>
<xs:element name="PushDeviceStaticResponse" type="tns:PushDeviceStaticResponse"/>
<xs:element name="PushDeviceStep" type="tns:PushDeviceStep"/>
<xs:element name="PushDeviceStepResponse" type="tns:PushDeviceStepResponse"/>
<xs:complexType name="PushDeviceLowbat">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PushDeviceLowbatResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PushDeviceFence">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PushDeviceFenceResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PushDeviceSOS">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PushDeviceSOSResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PushDeviceCHECK">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PushDeviceCHECKResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PushDeviceStep">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PushDeviceStepResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PushDeviceStatic">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PushDeviceStaticResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PushDeviceCurpos">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PushDeviceCurposResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="PushDeviceStaticResponse">
<wsdl:part element="tns:PushDeviceStaticResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="PushDeviceLowbat">
<wsdl:part element="tns:PushDeviceLowbat" name="parameters"/>
</wsdl:message>
<wsdl:message name="PushDeviceFence">
<wsdl:part element="tns:PushDeviceFence" name="parameters"/>
</wsdl:message>
<wsdl:message name="PushDeviceSOS">
<wsdl:part element="tns:PushDeviceSOS" name="parameters"/>
</wsdl:message>
<wsdl:message name="PushDeviceSOSResponse">
<wsdl:part element="tns:PushDeviceSOSResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="PushDeviceCHECKResponse">
<wsdl:part element="tns:PushDeviceCHECKResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="PushDeviceFenceResponse">
<wsdl:part element="tns:PushDeviceFenceResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="PushDeviceCHECK">
<wsdl:part element="tns:PushDeviceCHECK" name="parameters"/>
</wsdl:message>
<wsdl:message name="PushDeviceCurposResponse">
<wsdl:part element="tns:PushDeviceCurposResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="PushDeviceStep">
<wsdl:part element="tns:PushDeviceStep" name="parameters"/>
</wsdl:message>
<wsdl:message name="PushDeviceLowbatResponse">
<wsdl:part element="tns:PushDeviceLowbatResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="PushDeviceStepResponse">
<wsdl:part element="tns:PushDeviceStepResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="PushDeviceStatic">
<wsdl:part element="tns:PushDeviceStatic" name="parameters"/>
</wsdl:message>
<wsdl:message name="PushDeviceCurpos">
<wsdl:part element="tns:PushDeviceCurpos" name="parameters"/>
</wsdl:message>
<wsdl:portType name="sxlService">
<wsdl:operation name="PushDeviceLowbat">
<wsdl:input message="tns:PushDeviceLowbat" name="PushDeviceLowbat"/>
<wsdl:output message="tns:PushDeviceLowbatResponse" name="PushDeviceLowbatResponse"/>
</wsdl:operation>
<wsdl:operation name="PushDeviceFence">
<wsdl:input message="tns:PushDeviceFence" name="PushDeviceFence"/>
<wsdl:output message="tns:PushDeviceFenceResponse" name="PushDeviceFenceResponse"/>
</wsdl:operation>
<wsdl:operation name="PushDeviceSOS">
<wsdl:input message="tns:PushDeviceSOS" name="PushDeviceSOS"/>
<wsdl:output message="tns:PushDeviceSOSResponse" name="PushDeviceSOSResponse"/>
</wsdl:operation>
<wsdl:operation name="PushDeviceCHECK">
<wsdl:input message="tns:PushDeviceCHECK" name="PushDeviceCHECK"/>
<wsdl:output message="tns:PushDeviceCHECKResponse" name="PushDeviceCHECKResponse"/>
</wsdl:operation>
<wsdl:operation name="PushDeviceStep">
<wsdl:input message="tns:PushDeviceStep" name="PushDeviceStep"/>
<wsdl:output message="tns:PushDeviceStepResponse" name="PushDeviceStepResponse"/>
</wsdl:operation>
<wsdl:operation name="PushDeviceStatic">
<wsdl:input message="tns:PushDeviceStatic" name="PushDeviceStatic"/>
<wsdl:output message="tns:PushDeviceStaticResponse" name="PushDeviceStaticResponse"/>
</wsdl:operation>
<wsdl:operation name="PushDeviceCurpos">
<wsdl:input message="tns:PushDeviceCurpos" name="PushDeviceCurpos"/>
<wsdl:output message="tns:PushDeviceCurposResponse" name="PushDeviceCurposResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="sxlServiceImplServiceSoapBinding" type="tns:sxlService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="PushDeviceLowbat">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="PushDeviceLowbat">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="PushDeviceLowbatResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="PushDeviceFence">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="PushDeviceFence">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="PushDeviceFenceResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="PushDeviceSOS">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="PushDeviceSOS">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="PushDeviceSOSResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="PushDeviceCHECK">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="PushDeviceCHECK">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="PushDeviceCHECKResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="PushDeviceStep">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="PushDeviceStep">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="PushDeviceStepResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="PushDeviceStatic">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="PushDeviceStatic">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="PushDeviceStaticResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="PushDeviceCurpos">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="PushDeviceCurpos">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="PushDeviceCurposResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="sxlServiceImplService">
<wsdl:port binding="tns:sxlServiceImplServiceSoapBinding" name="sxlServiceImplPort">
<soap:address location="http://localhost/ZhiXiaoManager/services/sxlServiceImplPort"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
